@model OrderViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Order</h4>
                    @*<span>
                            lorem ipsum dolor sit amet, consectetur adipisicing
                            elit
                        </span>*@
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="index" asp-controller="dashboard"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Order</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="card p-3">
        <div class="card-block">
            <div>
                <h1>Sifariş haqda Ümumi Məlumat</h1>
                <div class="form-group row">
                    <label asp-for="Order.Id" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <p class="form-control">#@Model.Order.Id</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Order.isConfirmed" class="col-sm-2 col-form-label"></label>
                    @if (Model.Order.isConfirmed)
                    {
                        <span style="display:flex !important;margin-left:13px;" class="badge badge-success text-white align-items-center justify-content-center">
                            Təsdiqlənib
                        </span>
                    }
                    else if (Model.Order.DeletedById != null)
                    {
                        <span style="display:flex !important;margin-left:13px;" class="badge badge-danger text-white align-items-center justify-content-center">
                            Ləğv olunub
                        </span>
                    }
                    else
                    {
                        <span style="display:flex !important;margin-left:13px;" class="badge badge-warning text-white align-items-center justify-content-center">
                            Gözləmədə
                        </span>
                    }

                </div>
                <div class="form-group row">
                    <label asp-for="Order.CreatedDate" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <p class="form-control">@Model.Order.CreatedDate.ToString("MMMM MM, yyyy  HH:mm:ss")</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Order.TotalAmount" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <p class="form-control">@Model.Order.TotalAmount ₼</p>
                    </div>
                </div>
                <h1>Sifariş olunmuş Məhsullar</h1>
                <hr color="red" />
                @foreach (var item in Model.Order.OrderItems)
                {
                    @foreach (var product in Model.Products)
                    {
                        if (product.Id == item.ProductId)
                        {

                            <div class="form-group row">
                                <label asp-for="@product.Name" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <p class="form-control">@product.Name</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@product.PartCodeName" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <p class="form-control">@product.PartCodeName</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@product.ImagePath" style="display: flex; align-items: center;" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <img style="width:150px;" src="~/uploads/images/@product.ImagePath" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@item.Price" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <p class="form-control">@item.Price ₼</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@item.Quantity" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <p class="form-control">@item.Quantity ədəd</p>
                                </div>
                            </div>
                            <hr color="red" noshade />
                        }
                    }

                }
                <h1>Sifariş etmiş Müştəri</h1>
                @foreach (var user in Model.Users)
                {
                    if (user.Id.ToString() == Model.Order.ECoPartUserId)
                    {

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Full Name</label>
                            <div class="col-sm-10">
                                <p class="form-control">@user.Name @user.Surname</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@user.StoreName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <p class="form-control">@user.StoreName</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@user.Adress" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <p class="form-control">@user.Adress</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@user.PhoneNumber" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <p class="form-control">@user.PhoneNumber</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@user.Email" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <p class="form-control">@user.Email</p>
                            </div>
                        </div>
                    }

                }
                <div class="form-group row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <a asp-action="Index" class="btn btn-info btn-icon"><i class="icofont-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

