<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <p class="welcome-msg">Eco-Parts Onlayn Marketimizə Xoş Gəldiniz!</p>
            </div>
            <div class="header-right">

                <!-- End DropDown Menu -->
                <div class="dropdown ml-5">

                </div>
                <!-- End DropDown Menu -->
                <span class="divider"></span>
                <a asp-controller="home" asp-action="contact" class="contact d-lg-show"><i class="d-icon-map"></i>Bizimlə Əlaqə</a>
                <a href=# class="help d-lg-show"><i class="d-icon-info"></i>Kömək Lazımdır?</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Profile" asp-controller="account">
                        <i style="margin-right: 3px;" class="d-icon-user"></i>@User.GetPrincipalName()
                    </a>
                }
                else
                {
                    <a asp-action="SignIn" asp-controller="account">
                        <i style="margin-right: 3px;" class="d-icon-user"></i>Daxil Ol
                    </a>
                    <span class="delimiter">/</span>
                    <a class="ml-0" asp-action="Register" asp-controller="account">Qeydiyyat</a>
                }
            </div>
        </div>
    </div>
    <!-- End HeaderTop -->
    <div class="header-middle sticky-header fix-top sticky-content">
        <div class="container">
            <div class="header-left">
                <a href="#" class="mobile-menu-toggle">
                    <i class="d-icon-bars2"></i>
                </a>
                <a asp-action="index" asp-controller="home" class="logo">
                    <img src="~/assets/images/demos/demo23/logo.png" alt="logo" width="153" height="44" />
                </a>
                <!-- End Logo -->

                <div class="header-search hs-simple">
                    <form class="input-wrapper" method="get" asp-controller="Shop" asp-action="Search">
                        <div class="select-box">
                            <select asp-items="@ViewBag.Categories">
                                <option selected hidden disabled>Kateqoriyalar</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" id="search" name="query" placeholder="Axtardığınız məhsulun kodunu daxil edin ...">
                        <button class="btn btn-search" type="submit"><i class="d-icon-search"></i></button>
                    </form>
                </div>
                <!-- End Header Search -->
            </div>
            <div class="header-right">
                <a href="~/assets/tel:#" class="icon-box icon-box-side">
                    <div class="icon-box-icon mr-0 mr-lg-2">
                        <i class="d-icon-phone"></i>
                    </div>
                    <div class="icon-box-content d-lg-show">
                        <h4 class="icon-box-title">Bizimlə Əlaqə:</h4>
                        <p>+994507779990</p>
                    </div>
                </a>
                <span class="divider"></span>
                <a asp-action="wishlist" asp-controller="shop" class="wishlist">
                    <i class="d-icon-heart"><span class="wishlist-count">2</span></i>
                </a>
                <span class="divider"></span>
                <div class="dropdown cart-dropdown type2 cart-offcanvas mr-0 mr-lg-2">
                    <a asp-controller="shop" asp-action="Basket" class="cart-toggle label-block link">
                        <div class="cart-label d-lg-show">
                            <span class="cart-name">Səbət:</span>
                            <span class="cart-price">$0.00</span>
                        </div>
                        <i class="d-icon-bag"><span class="cart-count">2</span></i>
                    </a>
                    <div class="cart-overlay"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom d-lg-show">
        <div class="container">
            <div class="header-left">
                <partial name="_Navbar" />
            </div>
            <div>
                <nav class="main-nav ml-0">
                    <ul class="menu">
                        <li>
                            <a>Populyar Maşınlar</a>
                            <ul>
                                @foreach (var item in @ViewBag.PopularCars)
                                {
                                    <li><a asp-controller="shop" asp-action="Brands" asp-route-id="@item.Brand.Id">@item.Brand.Name</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
    </div>
</header>
