@model List<Tuple<int, string, string, double>>
@{
    ViewData["Title"] = "Basket";
}
<div class="page-content pt-7 pb-10">
    <div class="step-by pr-4 pl-4">
        <h3 class="title title-simple title-step active"><a href="cart.html">Səbət</a></h3>@*
            <h3 class="title title-simple title-step"><a href="checkout.html">2. Checkout</a></h3>
            <h3 class="title title-simple title-step"><a href="order.html">3. Order Complete</a></h3>*@
    </div>
    <div class="container mt-7 mb-2">
        <div class="row">
            <div class="col-lg-8 col-md-12 pr-lg-4">
                <div class="emptyBasketContainer">
                    @if (Model.Count == 0)
                    {
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="emptyBasket fa-solid fa-cart-shopping"></i>
                            <h1 class="emptyBasketText">Your Cart is empty</h1>
                        </div>
                    }
                </div>
                @if (Model.Count > 0)
                {
                    <table class="shop-table cart-table shipping">
                        <thead>
                            <tr>
                                <th><span>Məhsul</span></th>
                                <th>Adı</th>
                                <th>Qiymət</th>
                                <th style="text-align:center;">Ədəd</th>
                                <th>Yekun</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="entityTr" data-id="@item.Item1" data-entity-id="@item.Item1-@item.Item4" data-price="@item.Item4" data-quantity="1">
                                    <td class="product-thumbnail">
                                        <figure>
                                            <a href="product-simple.html">
                                                <img src="~/uploads/images/@item.Item3" width="100" height="100"
                                                     alt="product">
                                            </a>
                                        </figure>
                                    </td>
                                    <td class="product-name">
                                        <div class="product-name-section">
                                            <a asp-action="details" asp-controller="shop" asp-route-id=@item.Item1>
                                                @item.Item2
                                            </a>
                                        </div>
                                    </td>
                                    <td class="product-subtotal">
                                        <span class="amount">@item.Item4 ₼</span>
                                    <td class="product-quantity">
                                        <div class="input-group">
                                            <button class="quantity-minus d-icon-minus" onclick="minusQuantity(event)"></button>
                                            <span class="quantity form-control d-flex justify-content-center align-items-center">1</span>
                                            <button class="quantity-plus d-icon-plus" onclick="plusQuantity(event)"></button>
                                        </div>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">@item.Item4 ₼</span>
                                    </td>
                                    <td class="product-close">
                                        <a onclick="removeEntity(@item.Item1,@item.Item4)" class="product-remove" title="Məhsulu silin">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <div class="cart-actions mb-6 pt-4">
                    <a asp-action="Index" class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4"><i class="d-icon-arrow-left"></i>Continue Shopping</a>
                    <button type="submit" class="btn btn-outline btn-dark btn-md btn-rounded btn-disabled">Update Cart</button>
                </div>
                <div class="cart-coupon-box mb-8">
                    <h4 class="title coupon-title text-uppercase ls-m">Coupon Discount</h4>
                    <input type="text" name="coupon_code" class="input-text form-control text-grey ls-m mb-4"
                           id="coupon_code" value="" placeholder="Enter coupon code here...">
                    <button type="submit" class="btn btn-md btn-dark btn-rounded btn-outline">Apply Coupon</button>
                </div>
            </div>
            @if (Model.Count > 0)
            {
                <aside id="placingOrder" class="col-lg-4 sticky-sidebar-wrapper">
                    <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
                        <div class="summary mb-4">
                            <h3 class="summary-title text-left">Cart Totals</h3>
                            <table class="total">
                                <tr class="summary-subtotal">
                                    <td>
                                        <h4 class="summary-subtitle">Ümumi</h4>
                                    </td>
                                    <td>
                                        <p class="summary-total-price summary-subtotal-price ls-s">0</p>₼
                                    </td>
                                </tr>
                            </table>
                            <a id="placeOrderBtn" onclick="placeOrder()" class="btn btn-dark btn-rounded btn-checkout">Səbəti Təsdiqlə</a>
                        </div>
                    </div>
                </aside>
            }
        </div>
    </div>
</div>


@section js{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        function readFromBasket() {
            return ($.cookie('cards') || '').split(',');
        }
        function readFromBasketPrices() {
            return ($.cookie('prices') || '').split(',');
        }
        function showCardCount() {
            let items = readFromBasket();
            $('span.cart-count').html(items.length - 1);

        }
        function showCartPrice() {
            let items = ($.cookie('prices') || '').split(',');
            console.log(items);
            let totalPrice = 0;
            for (var i = 1; i < items.length; i++) {
                totalPrice = totalPrice + parseFloat(items[i]);
            }
            $('span.cart-price').html(totalPrice + "₼");
        }
        function checkCart() {
            let items = readFromBasket();
            var divContainer = $('<div>', {
                class: 'd-flex flex-column justify-content-center align-items-center'
            });
            var iTag = $('<i>', {
                class: 'emptyBasket fa-solid fa-cart-shopping'
            });
            var h1Tag = $('<h1>').text("Your Cart is empty").addClass("emptyBasketText");
            let divTag = $('div.emptyBasketContainer');
            if (items.length <= 1) {
                $('table.shipping').remove();
                $('aside#placingOrder').remove();
                iTag.appendTo(divContainer);
                h1Tag.appendTo(divContainer);
                divContainer.appendTo(divTag);
            }
        }
        function setTotalPrice() {
            let items = document.querySelectorAll('td.product-price span.amount');
            let totalPrice = 0;
            for (var i = 0; i < items.length; i++) {
                totalPrice = totalPrice + parseInt(items[i].textContent);
            }
            $('p.summary-subtotal-price').html(`${totalPrice}`);
            console.log(totalPrice);
        }
        setTotalPrice();
        function removeEntity(entityId, entityPrice) {
            let items = readFromBasket();
            let prices = readFromBasketPrices();

            let id = entityId.toString();
            const index = items.indexOf(id);
            if (index > -1) {
                items.splice(index, 1);
                prices.splice(index, 1);
            }
            $.cookie('cards', items.toString(), { expires: 7, path: '/' });
            $.cookie('prices', prices.toString(), { expires: 7, path: '/' });
            $.ajax({
                success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Error!");
                        return;
                    }
                    toastr.success("Successfully Deleted", response.message)
                    $(`tr[data-entity-id=${entityId}-${entityPrice}]`).remove();
                    showCardCount();
                    showCartPrice();
                    setTotalPrice();
                    checkCart();
                },
                error: function (response) {
                    toastr["error"]("Unsuccessfully", "Data has not been deleted")
                }
            })
        }



        function plusQuantity(e) {
            e.preventDefault();

            let row = $(e.currentTarget).closest('tr')


            let data = $(row).data();

            let quantity = $(row).find('span.quantity').html();

            if (!isNaN(quantity)) {
                quantity++;
                $(row).data('quantity', quantity);
            }
            $(row).find('span.quantity').html(quantity);
            $(row).find('td.product-price .amount').html(`${(data.price * quantity)}₼`);
            setTotalPrice();
            console.log(data);
        }

        function minusQuantity(e) {
            e.preventDefault();

            let row = $(e.currentTarget).closest('tr')


            let data = $(row).data();

            let quantity = $(row).find('span.quantity').html();
            if (quantity == 1) {
                return;
            }
            if (!isNaN(quantity)) {
                quantity--;
                $(row).data('quantity', quantity);

            }
            $(row).find('span.quantity').html(quantity);
            $(row).find('td.product-price .amount').html(`${(data.price * quantity)}₼`);
            setTotalPrice();
            console.log(data);
        }

    </script>
    <script>
        function placeOrder() {
            let items = document.querySelectorAll('#entityTr');
            let productIds = [];
            let quantity = [];
            let price = [];
            for (var i = 0; i < items.length; i++) {
                let data = $(items[i]).data();
                productIds.push(data.id);
                quantity.push(data.quantity);
                price.push(data.price);

            }
            console.log(quantity);
            let totalAmount = $('p.summary-subtotal-price').html();
            let itemsIds = readFromBasket();
            let itemsPrice = readFromBasketPrices();
            itemsIds.splice(0, itemsIds.length);
            itemsPrice.splice(0, itemsPrice.length);
            $.cookie('cards', itemsIds.toString(), { expires: 7, path: '/' });
            $.cookie('prices', itemsPrice.toString(), { expires: 7, path: '/' });
            $.ajax({
                url: "@Url.Action("PlaceOrder")",
                data: {
                    productIds: productIds.toString(),
                    quantities: quantity.toString(),
                    totalAmount: totalAmount,
                    prices: price.toString()
                },
                success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, 'Error!');
                        return;
                    }
                    toastr.success(response.message, 'Success!');

                    location.href = `@Url.Action("Index")`;
                }
            });
        }
    </script>



}