@model ShopViewModel
@{
    ViewData["Title"] = "Categories";
}


<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-action="index" asp-controller="home"><i class="d-icon-home"></i></a></li>
            <li>Shop</li>
        </ul>
    </div>
</nav>
<div class="page-content mb-10">
    <div class="container">
        <div class="row main-content-wrap gutter-lg">
            <aside class="col-lg-3 sidebar sidebar-fixed sidebar-toggle-remain shop-sidebar sticky-sidebar-wrapper">
                <div class="sidebar-overlay"></div>
                <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
                <a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
                <div class="sidebar-content">
                    <div class="sticky-sidebar" data-sticky-options="{'top': 10}">
                        <div class="widget widget-collapsible">
                            @foreach (var item in ViewBag.Brand)
                            {
                                <h3 class="widget-title">
                                    @item.Name Markasına Uyğun kateqoriyalar
                                </h3>
                            }
                            @Extension.GetCategoriesRaw(Model.Categories)
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Maşın markaları</h3>
                            <ul class="widget-body filter-items search-ul" style="display: block;">
                                @foreach (var item in Model.Brands)
                                {
                                    <li><a asp-action="brands" asp-route-id="@item.Id">@item.Name</a></li>

                                }
                            </ul>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Keyfiyyət</h3>
                            <ul class="widget-body filter-items">
                                @foreach (var item in Model.Types)
                                {
                                    <li><a href="#">@item.Name<span>(2)</span></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-lg-9 main-content">
                <div class="shop-banner-default banner mb-1"
                     style="background-image: url('/assets/images/shop/banner.jpg'); background-color: #4e6582;">
                    <div class="banner-content">
                        <h4 class="banner-subtitle font-weight-bold ls-normal text-uppercase text-white">
                            Riode Shop
                        </h4>
                        <h1 class="banner-title font-weight-bold text-white">Banner with Sidebar</h1>
                        <a href="#" class="btn btn-white btn-outline btn-icon-right btn-rounded text-normal">
                            Discover
                            now<i class="d-icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <nav class="toolbox sticky-toolbox sticky-content fix-top">
                    <div class="toolbox-left">
                        <div class="toolbox-item toolbox-sort select-box">
                            <label>Sort By :</label>
                            <select name="orderby" class="form-control">
                                <option value="default">Default</option>
                                <option value="popularity" selected="selected">Most Popular</option>
                                <option value="rating">Average rating</option>
                                <option value="date">Latest</option>
                                <option value="price-low">Sort forward price low</option>
                                <option value="price-high">Sort forward price high</option>
                                <option value="">Clear custom sort</option>
                            </select>
                        </div>
                    </div>
                    <div class="toolbox-right">
                        <div class="toolbox-item toolbox-show select-box">
                            <label>Show :</label>
                            <select name="count" class="form-control">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select>
                        </div>
                    </div>
                </nav>
                <div class="row cols-2 cols-sm-3 product-wrapper">
                    @foreach (var item in Model.PagedViewModel.Items)
                    {
                        <div class="product-wrap">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a asp-action="details" asp-route-id="@item.Id">
                                        <img src="~/uploads/images/@item.ImagePath" alt="@item.Name" width="234"
                                             height="259">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" data-item-id="@item.Id" onclick="addToWishlist(event)" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        <a href="#">@item.Category.Name</a>
                                    </div>
                                    <h3 class="product-name">
                                        <a asp-action="details" asp-route-id="@item.Id">@item.Name</a>
                                    </h3>
                                    <span style="color: #aaa;margin-left:0.5rem;font-size:14px;">@item.PartCodeName</span>
                                    <div class="product-price">
                                        @foreach (var price in Model.Pricings)
                                        {
                                            if (item.Id == price.ProductId)
                                            {
                                                foreach (var type in Model.Types)
                                                {
                                                    if (type.Id == price.TypeId)
                                                    {
                                                        <a class="price" style="font-size:14px;">@price.Price&#8380;<span style="color: #aaa;margin-left:0.5rem;font-size:14px;">(@type.Name)</span></a>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <nav class="toolbox toolbox-pagination mb-0 pb-0">
                    <p class="show-info">Showing 1–@((Model.PagedViewModel.Items.Count() < 12) ? $"{Model.PagedViewModel.Items.Count()}" : "12") of @Model.PagedViewModel.Items.Count() Products</p>
                    @Model.PagedViewModel.GetPagenation(Url,"Index")
                </nav>
            </div>
        </div>
    </div>
</div>
@section css{ 
    <link rel="stylesheet" type="text/css" href="~/assets/css/pagination.css" />
}
@section js{ 
    <script>
        function addToWishlist(ev) {
            ev.preventDefault();
            ev.stopPropagation();
            let data = $(ev.currentTarget).data();
            addToCookie(data.itemId);

            console.log(readFromCookie())
        }
        function readFromCookie() {
            return ($.cookie('cardsForWishlist') || '').split(',');
        }
        function addToCookie(cardId) {
            let items = readFromCookie();
            let length = items.filter(item => item == cardId).length;
            if (length > 0) return;
            items.push(cardId);
            $.cookie('cardsForWishlist', items.toString(), { expires: 7, path: '/' });
            $.ajax({
                success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Error!");
                        return;
                    }
                    toastr.success("Successfully Added", response.message)
                    showWishlistCount();
                },
                error: function (response) {
                    toastr["error"]("Unsuccessfully", "Data has not been deleted")
                }
            })
        }

        function showWishlistCount() {
            let items = readFromCookie();
            $('.wishlist-count').html(items.length - 1);

        }
        showWishlistCount();

    </script>
} 
