@model ShopViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="page-content single-product mb-10">
    <div class="container">
        <div class="product product-single row mb-4">
            <div class="col-md-6">
                <div class="mt-10 product-gallery pg-vertical">
                    <div class="product-single-carousel row cols-1">
                        <figure class="product-image">
                            <img src="~/uploads/images/@Model.Product.ImagePath"
                                 data-zoom-image="/uploads/images/@Model.Product.ImagePath"
                                 alt="@Model.Product.Name" width="800" height="900">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="product-details">
                    <div class="product-navigation">
                        <ul class="breadcrumb breadcrumb-lg">
                            <li><a asp-action="index" asp-controller="home"><i class="d-icon-home"></i></a></li>
                            <li><a asp-action="index" class="active">Məhsullar</a></li>
                            <li>@Model.Product.Name</li>
                        </ul>
                    </div>

                    <h1 class="product-name">@Model.Product.Name</h1>
                    <div class="product-meta">
                        Məhsul Kodu: <b class="product-sku">@Model.Product.MainPartCodeName</b> <br />
                        Aid Olduğu Maşın Brendi: <b class="product-brand">@Model.Product.Category.Brand.Name</b> <br />
                        Kateqoriya: <b class="product-brand">@Model.Product.Category.Name</b>
                    </div>
                </div>
                <p class="product-short-desc">
                    @Model.Product.ShortDescription
                </p>
                <div class="product-form product-size">
                    <label>Keyfiyyət:&nbsp;</label>
                    <div class="product-form-group">
                        <div class="product-variations" style="margin-left:10px;">
                            @foreach (var item in Model.Product.Pricings)
                            {
                                if (item.ProductId == Model.Product.Id)
                                {
                                    foreach (var type in Model.Types)
                                    {
                                        if (item.TypeId == type.Id)
                                        {
                                            <span style="border: 1px solid; border-radius: 2px; background-color: transparent; font-size: 1.2rem; padding: 10px 7px; width: 3rem; text-align: center; vertical-align: middle;" data-type-id="@type.Id">@type.Name</span>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="product-form product-color">
                    <label>Stok vəziyyəti:&nbsp;</label>
                    @if (Model.Product.Quantity > 0)
                    {
                        <span style="color:#26c;" class="wishlist-in-stock">Anbarda</span>
                    }
                    else
                    {
                        <span style="color: #d26e4b;" class="wishlist-out-stock">Anbarda yoxdur</span>
                    }
                </div>
                @foreach (var item in Model.Product.Pricings)
                {
                    if (item.ProductId == Model.Product.Id)
                    {
                        <span id="product-price-type" style="margin-bottom: 1rem; color: #222; font-size: 2.4rem; font-weight: 700; letter-spacing: -.025em;">@item.Price</span><span style="color: #222; font-size: 2.4rem; font-weight: 700;">&#8380;</span>
                    }
                }
                <p class="error" style="color:red;"></p>
                <hr class="product-divider">
                @if (Model.Product.Quantity > 0)
                {
                    <div class="product-form product-qty">
                        <div class="product-form-group">
                            <div class="input-group mr-2">
                                <button class="quantity-minus d-icon-minus"></button>
                                <input class="quantity form-control" id="qty" type="number" min="1" max="1000000">
                                <button class="quantity-plus d-icon-plus"></button>
                            </div>
                            <button data-item-id="@Model.Product.Id" onclick="addToCart(event)" class="btn-product btn-cart">
                                <i class="d-icon-bag"></i>Səbətə Əlavə Et
                            </button>
                        </div>
                        <div class="product-footer">
                            <div>
                                <a style="padding-left: 29px; cursor: pointer;" data-item-id="@Model.Product.Id" onclick="addToWishlist(event)" class="btn-product btn-wishlist mr-6"><i class="d-icon-heart"></i>Seçilmişlərə əlavə et</a>
                            </div>
                        </div>
                    </div>
                    <hr class="product-divider mb-3">
                }

            </div>
        </div>
    </div>

    <div class="tab container tab-nav-simple product-tabs pt-4">
        <ul class="nav nav-tabs justify-content-start" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#product-tab-description">Detallar</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active in" id="product-tab-description">
                <div class="row mt-6">
                    <div class="col-md-6">
                        <h5 class="description-title mb-4 font-weight-semi-bold ls-m">Məlumatlar</h5>
                        <p class="mb-2">
                            @Model.Product.ShortDescription
                        </p>
                        <ul class="mb-8">
                            <li>
                                Keyfiyyət: @foreach (var item in Model.Product.Pricings)
                                {
                                    if (item.ProductId == Model.Product.Id)
                                    {
                                        foreach (var type in Model.Types)
                                        {
                                            if (item.TypeId == type.Id)
                                            {
                                                @type.Name <text>&nbsp</text>;
                                            }
                                        }
                                    }
                                }
                            </li>
                            <li>Alternativ kodlar: @Model.Product.PartCodeName</li>
                            <li>Aid Olduğu Maşın Brendi: @Model.Product.Category.Brand.Name</li>
                            <li>Kateqoriya: @Model.Product.Category.Name</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pb-6 pt-10 mt-6">
        <h2 class="title text-normal text-center d-block mb-5">Oxşar Məhsullar</h2>

        <div class="owl-carousel owl-theme owl-nav-full row cols-2 cols-md-3 cols-lg-4"
             data-owl-options="{
							'items': 5,
							'nav': false,
							'loop': false,
							'dots': true,
							'margin': 20,
							'responsive': {
								'0': {
									'items': 2
								},
								'768': {
									'items': 3
								},
								'992': {
									'items': 4,
									'dots': false,
									'nav': true
								}
							}
						}">
            @foreach (var item in Model.Products)
            {
                <div class="product text-center">
                    <figure class="product-media">
                        <a asp-route-id="@item.Id">
                            <img src="~/uploads/images/@item.ImagePath" alt="product" width="234"
                                 height="259">
                        </a>
                        <div class="product-action-vertical">
                            <a href="#" data-item-id="@item.Id" onclick="addToWishlist(event)" class="btn-product-icon btn-wishlist" title="Seçilmişlərə əlavə et"><i class="d-icon-heart"></i></a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <div class="product-cat">
                            <a asp-route-id="@item.Id">@item.Category.Name</a>
                        </div>
                        <h3 class="product-name">
                            <a asp-route-id="@item.Id">@item.Name</a>
                        </h3>
                        <span style="color: #aaa;margin-left:0.5rem;font-size:14px;">@item.MainPartCodeName</span>
                        <div class="product-price">
                            @foreach (var price in Model.Pricings)
                            {
                                if (item.Id == price.ProductId)
                                {
                                    foreach (var type in Model.Types)
                                    {
                                        if (type.Id == price.TypeId)
                                        {
                                            <a class="price" style="font-size:14px;">@price.Price&#8380;<span style="color: #aaa;margin-left:0.5rem;font-size:14px;">(@type.Name)</span></a>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

@section js{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let quantityAction = () => {
            let types = document.querySelectorAll('.size');
            for (var i = 0; i < types.length; i++) {
                if (types[i].getAttribute('class') == 'size active') {
                    let idName = types[i].getAttribute('id');
                    let typeId = idName.substring(5);
                    @foreach (var pricing in Model.Product.Pricings)
                    {
                        <text>
                        if (@pricing.TypeId == typeId) {
                            let price = @pricing.Price;
                            //let quantity = $('.quantity').val();
                            let totalPrice = price;
                            document.querySelector('#product-price-type').textContent = totalPrice;
                        }
                        </text>
                    }
                }
            }

        }


        function addToCart(ev) {
            ev.preventDefault();
            ev.stopPropagation();
            let data = $(ev.currentTarget).data();
            let price = $('#product-price-type').html();
            let qty = $('#qty').val();
            if (qty<1) {
                $('.error').html("Miqdarı düzgün qeyd edin!");
                return;
            }
            $('.error').html("");
            addToBasket(data.itemId, price,qty);
            console.log(readFromBasket());
            showCardCount();
        }
        function readFromBasket() {
            return ($.cookie('cards') || '').split(',');
        }
        function readFromBasketPrices() {
            return ($.cookie('prices') || '').split(',');
        }
        function readFromBasketQty() {
            return ($.cookie('qtys') || '').split(',');
        }
        function addToBasket(cardId,cardPrice,cardQty) {
            let items = readFromBasket();
            let prices = readFromBasketPrices();
            let qtys = readFromBasketQty();
            let length = items.filter(item => item == cardId).length;
            let length1 = prices.filter(item => item == cardPrice).length;
            if (length > 0 && length1 > 0) {
                return;
            }
            items.push(cardId);
            prices.push(cardPrice);
            qtys.push(cardQty);
            $.cookie('cards', items.toString(), { expires: 7, path: '/' });
            $.cookie('prices', prices.toString(), { expires: 7, path: '/' });
            $.cookie('qtys', qtys.toString(), { expires: 7, path: '/' });
            $.ajax({
                success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Error!");
                        return;
                    }
                    toastr.success("Səbətə uğurla əlavə edildi", response.message)
                    showCardCount();
                    showCartPrice();
                },
                error: function (response) {
                    toastr["error"]("Uğursuz", "Əlavə edilmədi")
                }
            })
        }

        function showCardCount() {
            let items = readFromBasket();
            $('span.cart-count').html(items.length - 1);

        }
        showCardCount();
        function showCartPrice() {

            let prices = ($.cookie('prices') || '').split(',');
            let qtys = ($.cookie('qtys') || '').split(',');
            let totalPrice = 0;
            for (var i = 0; i < prices.length; i++) {
                for (var j = 0; j < qtys.length; j++) {
                    totalPrice = totalPrice + prices[i] * qtys[j];
                }
            }
            $('span.cart-price').html(totalPrice + "₼");
        }
        showCartPrice();
    </script>
    <script>
        function addToWishlist(ev) {
            ev.preventDefault();
            ev.stopPropagation();
            let data = $(ev.currentTarget).data();
            addToCookie(data.itemId);

            console.log(readFromCookie())
        }
        function readFromCookie() {
            return ($.cookie('cardsForWishlist') || '').split(',');
        }
        function addToCookie(cardId) {
            let items = readFromCookie();
            let length = items.filter(item => item == cardId).length;
            if (length > 0) return;
            items.push(cardId);
            $.cookie('cardsForWishlist', items.toString(), { expires: 7, path: '/' });
            $.ajax({
                success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Error!");
                        return;
                    }
                    toastr.success("Seçilmişlərə uğurla əlavə edildi", response.message)
                    showWishlistCount();
                },
                error: function (response) {
                    toastr["error"]("Uğursuz", "Əlavə edilmədi")
                }
            })
        }

        function showWishlistCount() {
            let items = readFromCookie();
            $('.wishlist-count').html(items.length - 1);

        }
        showWishlistCount();

    </script>

}

