@model ShopViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="page-content single-product mb-10">
    <div class="container">
        <div class="product product-single row mb-4">
            <div class="col-md-6">
                <div style="padding-top:30px;" class="product-gallery pg-vertical">
                    <div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1">
                        <figure class="product-image">
                            <img src="~/uploads/images/@Model.Product.ImagePath"
                                 data-zoom-image="~/uploads/images/@Model.Product.ImagePath"
                                 alt="Blue Pinafore Denim Dress" width="800" height="900">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-details">
                    <div class="product-navigation">
                        <ul class="breadcrumb breadcrumb-lg">
                            <li><a href="demo23.html"><i class="d-icon-home"></i></a></li>
                            <li><a href="#" class="active">Products</a></li>
                            <li>Detail</li>
                        </ul>

                        <ul class="product-nav">
                            <li class="product-nav-prev">
                                <a href="#">
                                    <i class="d-icon-arrow-left"></i> Prev
                                    <span class="product-nav-popup">
                                        <img src="images/product/product-thumb-prev.jpg"
                                             alt="product thumbnail" width="110" height="123">
                                        <span class="product-name">Sed egtas Dnte Comfort</span>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-next">
                                <a href="#">
                                    Next <i class="d-icon-arrow-right"></i>
                                    <span class="product-nav-popup">
                                        <img src="images/product/product-thumb-next.jpg"
                                             alt="product thumbnail" width="110" height="123">
                                        <span class="product-name">Sed egtas Dnte Comfort</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <h1 class="product-name">@Model.Product.Name</h1>
                    <div class="product-meta">
                        Məhsul Kodu: <span class="product-sku">@Model.Product.PartCodeName</span>
                        Aid Olduğu Maşın Brendi: <span class="product-brand">@Model.Product.Category.Brand.Name</span>
                        Kateqoriya: <span class="product-brand">@Model.Product.Category.Name</span>
                    </div>
                    @*<div class="product-price">@foreach (var item in ViewBag.Pricings)
                        {
                            <span>@item.Price (@item.ProductType.Name)</span>
                        }*@
                </div>
                <p class="product-short-desc">
                    @Model.Product.ShortDescription
                </p>
                <div class="product-form product-size">
                    <label>Keyfiyyət:</label>
                    <div class="product-form-group">
                        <div class="product-variations">
                            @foreach (var item in Model.Product.Pricings)
                            {
                                if (item.ProductId == Model.Product.Id)
                                {
                                    foreach (var type in Model.Types)
                                    {
                                        if (item.TypeId == type.Id)
                                        {
                                            <a data-type-id="@type.Id" id="type-@type.Id" class="size" href="#">@type.Name</a>
                                        }
                                    }
                                }
                            }
                        </div>
                        <a href="#" class="product-variation-clean">Clean All</a>
                    </div>
                </div>
                <div class="product-variation-price">
                    <span id="product-price-type"></span><span>&#8380;</span>
                </div>

                <hr class="product-divider">

                <div class="product-form product-qty">
                    <label>QTY:</label>
                    <div class="product-form-group">
                        <div class="input-group">
                            <button class="quantity-minus quantity-action d-icon-minus"></button>
                            <input id="qty" class="quantity form-control" type="number" min="1" max="1000000">
                            <button class="quantity-plus quantity-action d-icon-plus"></button>
                        </div>
                        <button class="btn-product btn-cart">
                            <i class="d-icon-bag"></i>Add To
                            Cart
                        </button>
                    </div>
                </div>
                <hr class="product-divider mb-3">
            </div>
        </div>
    </div>

    <div class="tab container tab-nav-simple product-tabs pt-4">
        <ul class="nav nav-tabs justify-content-start" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#product-tab-description">Detallar</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active in" id="product-tab-description">
                <div class="row mt-6">
                    <div class="col-md-6">
                        <h5 class="description-title mb-4 font-weight-semi-bold ls-m">Məlumatlar</h5>
                        <p class="mb-2">
                            @Model.Product.ShortDescription
                        </p>
                        <ul class="mb-8">
                            <li>
                                Keyfiyyət: @foreach (var item in Model.Product.Pricings)
                                {
                                    if (item.ProductId == Model.Product.Id)
                                    {
                                        foreach (var type in Model.Types)
                                        {
                                            if (item.TypeId == type.Id)
                                            {
                                                @type.Name <text>&nbsp</text>;
                                            }
                                        }
                                    }
                                }
                            </li>
                            <li>Məhsul Kodu: @Model.Product.PartCodeName</li>
                            <li>Aid Olduğu Maşın Brendi: @Model.Product.Category.Brand.Name</li>
                            <li>Kateqoriya: @Model.Product.Category.Name</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pb-6 pt-10 mt-6">
        <h2 class="title text-normal text-center d-block mb-5">Oxşar Məhsullar</h2>

        <div class="owl-carousel owl-theme owl-nav-full row cols-2 cols-md-3 cols-lg-4"
             data-owl-options="{
							'items': 5,
							'nav': false,
							'loop': false,
							'dots': true,
							'margin': 20,
							'responsive': {
								'0': {
									'items': 2
								},
								'768': {
									'items': 3
								},
								'992': {
									'items': 4,
									'dots': false,
									'nav': true
								}
							}
						}">
            @foreach (var item in Model.Products)
            {
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="demo23-product.html">
                            <img src="~/uploads/images/@item.ImagePath" alt="product" width="234"
                                 height="259">
                        </a>
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                               data-target="#addCartModal" title="Add to cart">
                                <i class="d-icon-bag"></i>
                            </a>
                        </div>
                        <div class="product-action">
                            <a href="#" class="btn-product btn-quickview" title="Quick View">
                                Quick
                                View
                            </a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <div class="product-cat">
                            <a href="demo23-shop.html">@item.Category.Name</a>
                        </div>
                        <h3 class="product-name">
                            <a href="demo23-product.html">@item.Name</a>
                        </h3>
                        <div class="product-price">
                            @foreach (var price in Model.Pricings)
                            {
                                if (item.Id == price.ProductId)
                                {
                                    foreach (var type in Model.Types)
                                    {
                                        if (type.Id == price.TypeId)
                                        {
                                            <span class="price">@price.Price&#8380;</span>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

@section js{
    <script>
        $('a[data-type-id]').click(function (e, item) {
            let idName = e.currentTarget.getAttribute('id');
            let typeId = idName.substring(5);
            //console.log(typeId);
            @foreach (var pricing in Model.Product.Pricings)
            {
                <text>
                if (@pricing.TypeId == typeId) {
                    let price = @pricing.Price;
                    let quantity = $('.quantity').val();
                    let totalPrice = price * quantity;
                    document.querySelector('#product-price-type').textContent = totalPrice;
                }
                </text>
            }

        });
        $('.quantity-action').click(() => {
            let types = document.querySelectorAll('.size');
            for (var i = 0; i < types.length; i++) {
                if (types[i].getAttribute('class') == 'size active') {
                    let idName = types[i].getAttribute('id');
                    let typeId = idName.substring(5);
                    @foreach (var pricing in Model.Product.Pricings)
                    {
                        <text>
                        if (@pricing.TypeId == typeId) {
                            let price = @pricing.Price;
                            let quantity = $('.quantity').val();
                            let totalPrice = price * quantity;
                            document.querySelector('#product-price-type').textContent = totalPrice;
                        }
                        </text>
                    }
                }
            }

        })
    </script>
}

