@model ShopViewModel
<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-action="index" asp-controller="home"><i class="d-icon-home"></i></a></li>
            <li>Shop</li>
        </ul>
    </div>
</nav>
<div class="page-content mb-10">
    <div class="container">
        <div class="row main-content-wrap gutter-lg">
            <aside class="col-lg-3 sidebar sidebar-fixed sidebar-toggle-remain shop-sidebar sticky-sidebar-wrapper">
                <div class="sidebar-overlay"></div>
                <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
                <a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
                <div class="sidebar-content">
                    <div class="sticky-sidebar" data-sticky-options="{'top': 10}">
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Kateqoriyalar</h3>
                            @Extension.GetCategoriesRaw(Model.Categories)
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Price</h3>
                            <div class="widget-body">
                                <form action="#">
                                    <div class="filter-price-slider"></div>

                                    <div class="filter-actions">
                                        <div class="filter-price-text mb-4">
                                            Price:
                                            <span class="filter-price-range"></span>
                                        </div>
                                        <button type="submit"
                                                class="btn btn-dark btn-filter">
                                            Filter
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Maşın markaları</h3>
                            <ul class="widget-body filter-items search-ul" style="display: block;">
                                @foreach (var item in Model.Brands)
                                {
                                    <li><a asp-action="brands" asp-route-id="@item.Id">@item.Name</a></li>

                                }
                            </ul>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Keyfiyyət</h3>
                            <ul class="widget-body filter-items">
                                @foreach (var item in Model.Types)
                                {
                                    <li><a href="#">@item.Name<span>(2)</span></a></li>
                                }
                            </ul>
                        </div>

                        <div class="widget widget-products mt-2 mb-0">
                            <h4 class="widget-title border-no text-normal mb-0">Our Featured</h4>
                            <div class="widget-body">
                                <div class="owl-carousel owl-nav-top row cols-1" data-owl-options="{
												'items': 1,
												'loop': true,
												'nav': true,
												'dots': false,
'margin': 20											}">
                                    <div class="products-col">
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo23-product.html">
                                                    <img src="~/assets/images/shop/product-widget1.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo23-product.html">Fashion Hiking Hat</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$199.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo23-product.html">
                                                    <img src="~/assets/images/shop/product-widget2.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo23-product.html">Men's Fashion Hood</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$19.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo23-product.html">
                                                    <img src="~/assets/images/shop/product-widget3.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo23-product.html">Women's Summer Clothing</a>
                                                </h3>
                                                <div class="product-price">
                                                    <ins class="new-price">$99.00</ins><del class="old-price">$150.00</del>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Products Col -->
                                    <div class="products-col">
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo23-product.html">
                                                    <img src="~/assets/images/shop/product-widget1.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo23-product.html">Fashion Hiking Hat</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$199.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo23-product.html">
                                                    <img src="~/assets/images/shop/product-widget2.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo23-product.html">Men's Fashion Hood</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span class="price">$19.00</span>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product product-list-sm">
                                            <figure class="product-media">
                                                <a href="demo23-product.html">
                                                    <img src="~/assets/images/shop/product-widget3.jpg" alt="product"
                                                         width="100" height="100">
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-name">
                                                    <a href="demo23-product.html">Women's Summer Clothing</a>
                                                </h3>
                                                <div class="product-price">
                                                    <ins class="new-price">$99.00</ins><del class="old-price">$150.00</del>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Products Col -->
                                </div>
                            </div>
                        </div><!-- End Widget Products -->
                    </div>
                </div>
            </aside>
            <div class="col-lg-9 main-content">
                <div class="shop-banner-default banner mb-1"
                     style="background-image: url('./assets/images/shop/banner.jpg'); background-color: #4e6582;">
                    <div class="banner-content">
                        <h4 class="banner-subtitle font-weight-bold ls-normal text-uppercase text-white">
                            Riode Shop
                        </h4>
                        <h1 class="banner-title font-weight-bold text-white">Banner with Sidebar</h1>
                        <a href="#" class="btn btn-white btn-outline btn-icon-right btn-rounded text-normal">
                            Discover
                            now<i class="d-icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row cols-2 cols-sm-3 product-wrapper">
                    @foreach (var item in Model.PagedViewModel.Items)
                    {
                        <div class="product-wrap">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a asp-action="details" asp-route-id="@item.Id">
                                        <img src="~/uploads/images/@item.ImagePath" alt="product" width="234"
                                             height="259">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a data-item-id="@item.Id" onclick="addToWishlist(event)" class="btn-product-icon btn-wishlist" title="Seçilmişlərə əlavə et"><i class="d-icon-heart"></i></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        <a href="demo23-shop.html">@item.Category.Name</a>
                                    </div>
                                    <h3 class="product-name">
                                        <a asp-action="details" asp-route-id="@item.Id">@item.Name</a>
                                    </h3>
                                    <span style="color: #aaa;margin-left:0.5rem;font-size:14px;">@item.PartCodeName</span>
                                    <div class="product-price">

                                        @foreach (var price in Model.Pricings)
                                        {
                                            if (item.Id == price.ProductId)
                                            {
                                                foreach (var type in Model.Types)
                                                {
                                                    if (type.Id == price.TypeId)
                                                    {
                                                        <a class="price" style="font-size:14px;">@price.Price&#8380;<span style="color: #aaa;margin-left:0.5rem;font-size:14px;">(@type.Name)</span></a>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <nav class="toolbox toolbox-pagination mb-0 pb-0">
                    <p class="show-info">Showing 1–12 of 48 Products</p>
                    @Model.PagedViewModel.GetPagenation(Url, "Index")
                </nav>
            </div>
        </div>
    </div>
</div>
@section css{
    <link rel="stylesheet" type="text/css" href="~/assets/css/pagination.css" />
}
@section js{
    <script>
        function addToWishlist(ev) {
            ev.preventDefault();
            ev.stopPropagation();
            let data = $(ev.currentTarget).data();
            addToCookie(data.itemId);

            console.log(readFromCookie())
        }
        function readFromCookie() {
            return ($.cookie('cardsForWishlist') || '').split(',');
        }
        function addToCookie(cardId) {
            let items = readFromCookie();
            let length = items.filter(item => item == cardId).length;
            if (length > 0) return;
            items.push(cardId);
            $.cookie('cardsForWishlist', items.toString(), { expires: 7, path: '/' });
            $.ajax({
                success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Error!");
                        return;
                    }
                    toastr.success("Successfully Added", response.message)
                    showWishlistCount();
                },
                error: function (response) {
                    toastr["error"]("Unsuccessfully", "Data has not been deleted")
                }
            })
        }

        function showWishlistCount() {
            let items = readFromCookie();
            $('.wishlist-count').html(items.length - 1);

        }
        showWishlistCount();

    </script>
}
